.container{
  padding-top: 5%;
}
.title{
  text-align: center;
  align-items: center;
  font: 4em sans-serif;
}

.separador{
  background-color: sandybrown;
  border-radius: 10px;
  height: 25px;
  padding: 10px;
}

.logoutButton{
  align-items: center;
  text-align: center;
}
.icon{
  height: 25px;
  width: auto;
}
.paginationButtons{
  align-items: center;
  text-align: center;
  flex : 1;
}

.pagButton{
  width: 25px;
  height: 20px;
  font-size: 0.8em;
}

.paginationButtons{
  align-items: center;
  text-align: center;
}